%h2= @page_title
%h3 Live Clubs
%table
	%tr
		%th Name
		%th Actions
	
	- @live_clubs.each do |club|
		%tr
			%td=h club.name 
			%td
				= link_to 'Administer', club_admin_index_path(club)
				|
				= link_to 'Show', club 
				|
				= link_to 'Edit', edit_club_path(club)
				|
				= link_to 'Tags', club_edit_tags_path(club)
				|
				= link_to 'Destroy', club, :confirm => 'Are you sure?', :method => :delete

%h3 Hidden Clubs
%table
	%tr
		%th Name
		%th Actions

	- @hidden_clubs.each do |club|
		%tr
			%td=h club.name 
			%td
				= link_to 'Administer', club_admin_index_path(club)
				|
				= link_to 'Show', club 
				|
				= link_to 'Edit', edit_club_path(club)
				|
				= link_to 'Destroy', club, :confirm => 'Are you sure?', :method => :delete
				|
				%span(id="live #{club.name}")
					= link_to_remote( 'GO LIVE!', :update => "live #{club.name}", :url =>{ :action => :go_live, :club => club.id })

= link_to 'New club', new_club_path
