%h2= @page_title

= link_to 'Edit All Tags', "#", :id => ( "edit_all_tags")


%h3 Live Clubs
%table
	%tr
		%th Name
		%th Actions
	
	- @live_clubs.each do |club|
		%tr
			%td= link_to club.name , club
			%td
				= link_to 'Administer', club_admin_index_path(club)
				|
				= link_to 'Edit Tags', :action => "edit_tags", :id => club
				|
				= link_to 'Edit Profile', edit_club_path(club)
				|
				= link_to 'Destroy', club, :confirm => 'Are you sure?', :method => :delete
				|
				= link_to 'Tags Experimental', "#", :class => ( "edit_tag #{club.id}")				
				- form_for( club, :url => { :action => :update_tags, :method => :put }) do |f|
					%div{ :class => "edit_tags_module", :id => "#{club.id}" }
						= f.hidden_field "tag_list_#{club.id}", :value => club.tag_list
						= f.label :tags, 'Tags'
						= f.hidden_field :club_id, :value => club.id
						= f.submit 'Update Tags'
						%ul
							- @tags.each do |tag|
								%li{:class=>"#{tag.name}", :class=>( "tags #{club.id} " + ((club.tags.include?(tag))? 'selected' : ''))}
									= f.label @club, "#{tag.name}", :title => "#{tag.taggings_count}"
						%br
		
				
				
				

%h3 Hidden Clubs
%table
	%tr
		%th Name
		%th Actions

	- @hidden_clubs.each do |club|
		%tr
			%td= link_to club.name , club
			%td
				= link_to 'Administer', club_admin_index_path(club)
				|
				= link_to 'Edit Tags', "#", :class => ( "edit_tag #{club.id}")
				|
				= link_to 'Edit Profile', edit_club_path(club)
				|
				= link_to 'Destroy', club, :confirm => 'Are you sure?', :method => :delete
				|
				%span(id="live #{club.name}")
					= link_to_remote( 'GO LIVE!', :update => "live #{club.name}", :url =>{ :action => :go_live, :club => club.id })

= link_to 'New club', new_club_path
