- form_for(@club, :html => {:multipart => true}) do |f|
	= f.error_messages

	= render :partial => "form", :locals => {:f => f }

	%p
		= f.label :website, "External Website Url"
		%span
			The external website url will redirect any links from the SkuleClubs site to your own website. |
			Leave this field blank if you wish to use all the features provided by SkuleClubs.
		= f.text_field :website

	%p
		= f.label :live, "Make Site Live"
		%span Check this when the club is ready to be live and visible to everyone.
		= f.check_box :live

	%p
		= f.submit 'Update'
		
= link_to 'Cancel', :controller => "admin_pages", :action=>"index", :club_id => @club
