<div id="clubs_container">
	<% @clubs.each do |club| %>

	<div class="club <%= "onskuleclubs" unless club.website %>">
		<%= link_to image_tag(club.logo || "blank.gif"), (club.website || {:action => 'show', :id => club}) %>
		<h3><%= link_to (club.name || club.official_name), (club.website || {:action => 'show', :id => club})  %></h3>
		<span><%=h club.tagline || club.official_name || "Tagline" %></span>
		<ul>
		<% club.tags.each do |tag| %>
			<li><a href="#"><%= tag %></a></li>
		<% end if club.tags %>
			<li><a href="#">Tag</a></li>
			<li><a href="#">Tag</a></li>
			<li><a href="#">Tag</a></li>
		</ul>
		<% if club.affiliated %>
		<div class="affiliated" title="Officially Affiliated"></div>
		<% end %>
	</div>

	<% end %>
</div>

