<h2>New club</h2>

<% form_for(@new_club, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <p>
  	<%= f.label :name, "Short Name" %>
  	<span>The short form of your club name. Max 20 characters. Used almost everywhere.</span>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :official_name, "Official Name" %>
    <span>The official name of the club. Max 100 characters. Used in the club site's footer.</span>
    <%= f.text_field :official_name %>
  </p>
	<p>
    <%= f.label :web_name, "Web Name" %>
    <span>The web version name of the club with no whitespaces. Max 20 characters. Only lowercase letters, numbers and underscores allowed.</span>
    <%= f.text_field :web_name %>
  </p>
  <p>
  	<%= f.label :tagline %>
  	<span>A short description of your club. Max 100 characters. Used in the club directory.</span>
    <%= f.text_field :tagline %>
  </p>
  <p>
    <%= f.label :description %>
    <span>A longer description of your club. Max 400 characters. Used on the home page of your club's website.</span>
    <%= f.text_area :description %>
  </p>
	<p>
    <%= f.label :contact, "Contact Email" %>
    <span>The club's main email address. This will be displayed with the clubs contact information.</span>
    <%= f.text_field :contact %>
  </p>
	<p>
    <%= f.label :address %>
    <span>The club's address. This will be displayed with the clubs contact information.</span>
    <%= f.text_area :address %>
  </p>
  <p>
    <%= f.label :tags, "Labels" %>
    <span>Tags used to classify your club in the club directory.</span>
		<%= f.text_field :tag_list -%>
  </p>
	<p>
    <%= f.label :logo, "Logo Image" %>
		<span>The logo image that will be displayed with the club. Max 100 KB.</span>
  	<%= f.file_field :logo %>
  </p>
	<p>
    <%= f.label :banner, "Banner Image" %>
		<span>The banner image that will be displayed on the club website. Max 800 KB.</span>
  	<%= f.file_field :banner %>
  </p>
  <p>
    <%= f.submit 'Create Club' %> | <%= link_to 'Cancel', clubs_path %>
  </p>
<% end %>


