<h2>New club</h2>

<% form_for(@club) do |f| %>
  <%= f.error_messages %>
  <p>
  	<%= f.label :name, "Short Name" %>
  	<span>The short form of your club name. Max 20 characters. Used almost everywhere.</span>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :official_name, "Official Name" %>
    <span>The official name of the club. Max 100 characters. Used in the club site's footer.</span>
    <%= f.text_field :official_name %>
  </p>
  <p>
  	<%= f.label :tagline %>
  	<span>A short description of your club. Max 100 characters. Used in the club directory.</span>
    <%= f.text_field :tagline %>
  </p>
  <p>
    <%= f.label :description %>
    <span>A longer description of your club. Max 400 characters. Used on the home page of your club's website.
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :tags, "Labels" %>
    <span>Tags used to classify your club in the club directory.</span>
		<%= f.text_field :tag_list -%>
  </p>
  <p>
    <%= f.submit 'Create Club' %> | <%= link_to 'Cancel', clubs_path %>
  </p>
<% end %>


