<p>
  <b>Name:</b>
  <%=h @club.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @club.description %>
</p>

<p>
  <b>Tags:</b><br/>
  <% @club.tags.each do |tag| -%>
    <%= link_to_tag(tag) %>
  <% end -%>
</p>

<p>
  <b>Upcoming Events:</b><br/>
  <% @club.upcoming_events.each do |event| -%>
    <%= event.name %> <i>@ <%= event.location%></i>, Time: <%= format_time(event.start)%> - <%= format_time(event.finish)%>
  <br />
  <% end -%>
</p>

<p>
  <b>Members:</b>
  <ul>
    <% @club.members.each do |member| %>
         <li><%=h member.name %></li>
    <% end if @club.groups.count > 0 %>
  </ul>
</p>

<%= link_to '**Hidden Admin Link**', club_admin_index_path(@club) %> |
<%= link_to 'Downloads', club_files_path(@club) %> |
<%= link_to 'Gallery', club_gallery_path(@club) %> |
<%= link_to 'Groups', club_groups_path(@club) %> |
<%= link_to 'Pages', club_pages_path(@club) %> |
<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
