<p>
  <b>Name:</b>
  <%=h @club.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @club.description %>
</p>
<%= link_to 'Admin Control Panel', club_admin_index_path(@club) %> |
<%= link_to 'Downloads', club_files_path(@club) %> |
<%= link_to @club.name + ' Gallery', club_gallery_path(@club) %> |
<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>