<h1>Editing Download Folder</h1>

<% form_for(@download_folder) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :club_id %><br />
  	<%= f.collection_select :club_id, Club.find(:all), :id, :name, { :prompt => 'Select a Club' } %>
  </p>
  <p>
    <%= f.label :icon %><br />
    <%= f.text_field :icon %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @download_folder %> |
<%= link_to 'Back', download_folders_path %>