<h1>Editing small_post</h1>

<% form_for([:club, @small_post], :url => {:action => 'update'}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content,
					:onKeyDown => "textCounter(this,this.form.remLen,20);", 
					:onKeyUp => "textCounter(this,this.form.remLen,20);" 
	%>
  </p>
  
Characters Left: <input readonly style="border: 0" type=text name=remLen size=3 maxlength=3 value="200"></input>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', admin_club_large_posts_path(@club) %>