<h1>Editing small_post</h1>

<% form_for(@small_post) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content,
					:onKeyDown => "textCounter(this,this.form.remLen,20);", 
					:onKeyUp => "textCounter(this,this.form.remLen,20);" 
	%>
  </p>
  
<input readonly type=text name=remLen size=3 maxlength=3 value="--"> characters left</input>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @small_post %> |
<%= link_to 'Back', small_posts_path %>