<h2>Change Password</h2>

<h3>User: <%=h @admin.login %></h3>
<% form_for(@admin,  :url => {:action=> 'update_password', :id => @admin}) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
	<% if true == false %>
  <p>
    <%= f.label :event %><br />
    <%= f.check_box :event %>
  </p>
  <p>
    <%= f.label :updates %><br />
    <%= f.check_box :updates %>
  </p>
  <p>
    <%= f.label :member %><br />
    <%= f.check_box :member %>
  </p>
  <p>
    <%= f.label :group %><br />
    <%= f.check_box :group %>
  </p>
  <p>
    <%= f.label :file %><br />
    <%= f.check_box :file %>
  </p>
  <p>
    <%= f.label :gallery %><br />
    <%= f.check_box :gallery %>
  </p>
	<% end %>
  <p>
    <%= f.submit 'Change' %>
  </p>
<% end %>

<%= link_to 'Back', root_path %>