<h2>Editing admin</h2>

<h3>User: <%=h @admin.login %></h3>
<% form_for(@admin) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
	<p>
    <%= f.label :club_id, "Select a club or allow them to create a club" %><br />
    <%= f.collection_select :club_id, @clubs, :id, :name, { :prompt => 'Select an existing club', :include_blank => 'New Club'} %>
  </p>
	<p>
    <%= f.label :super_admin %><br /> 
    <%= f.check_box :super_admin %>
  </p>
	<% if true == false %>
  <p>
    <%= f.label :event %><br />
    <%= f.check_box :event %>
  </p>
  <p>
    <%= f.label :updates %><br />
    <%= f.check_box :updates %>
  </p>
  <p>
    <%= f.label :member %><br />
    <%= f.check_box :member %>
  </p>
  <p>
    <%= f.label :group %><br />
    <%= f.check_box :group %>
  </p>
  <p>
    <%= f.label :file %><br />
    <%= f.check_box :file %>
  </p>
  <p>
    <%= f.label :gallery %><br />
    <%= f.check_box :gallery %>
  </p>
	<% end %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @admin %> |
<%= link_to 'Back', admins_path %>