<p>
  <b>User:</b>
  <%=h @admin.user_id %>
</p>

<p>
  <b>Club:</b>
  <%=h @admin.club_id %>
</p>

<p>
  <b>Event:</b>
  <%=h @admin.event %>
</p>

<p>
  <b>Update:</b>
  <%=h @admin.update %>
</p>

<p>
  <b>Member:</b>
  <%=h @admin.member %>
</p>

<p>
  <b>Group:</b>
  <%=h @admin.group %>
</p>

<p>
  <b>File:</b>
  <%=h @admin.file %>
</p>

<p>
  <b>Gallery:</b>
  <%=h @admin.gallery %>
</p>


<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>