<p>
  <b>User:</b>
  <%=h @admin.login %>
</p>

<p>
  <b>Club:</b>
  <%=h @admin.club.name unless @admin.club.blank? %>
</p>

<% if true == false %>
<p>
  <b>Event:</b>
  <%=h @admin.event %>
</p>

<p>
  <b>Update:</b>
  <%=h @admin.updates %>
</p>

<p>
  <b>Member:</b>
  <%=h @admin.member %>
</p>

<p>
  <b>Group:</b>
  <%=h @admin.group %>
</p>

<p>
  <b>File:</b>
  <%=h @admin.file %>
</p>

<p>
  <b>Gallery:</b>
  <%=h @admin.gallery %>
</p>
<% end %>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>