<h1>Editing download</h1>

<% form_for(@download) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :downloadFolder_id %><br />
    <%= f.text_field :downloadFolder_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :tags %><br />
    <%= f.text_field :tags %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @download %> |
<%= link_to 'Back', downloads_path %>