<h1>File Upload</h1>
<%= form_tag ({:action => 'create'}, :multipart => true) %>
<p>	<label for="upload_file">Select File</label> : 
	<%= file_field 'upload', 'download' %>
</p>

<p>
  <%= label 'download', 'downloadFolder_id' %><br />
  <%= collection_select ('download', 'downloadFolder_id', @downloadFolder, :id, :name, { :prompt => 'Select Download Folder'}) %>
</p>
<p>
  <%= label 'download', 'desc' %><br />
  <%= text_field 'download', 'desc' %>
</p>
<p>
  <%= label 'download', 'tags' %><br />
  <%= text_field 'download', 'tags' %>
</p>

<p>
  <%= submit_tag "Upload" %>
</p>

  

<%= link_to 'Back', downloads_path %>