<h2>File Upload</h2>

<% form_for(@download, :url => {:action => 'create'}, :html => {:multipart => true}) do |f| %>

  <%= f.error_messages %>
  <p>
    <%= f.label :download_folder_id, 'Download Folder:' %>
	<%= h @download_folder.name %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </p>
  <p>
    <%= f.label :tags %><br />
    <%= f.text_field :tags %>
  </p>
  <p>
    <%= f.label :url, "Select File" %><br />
  	<%= f.file_field :url %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
<%= link_to 'Back', club_file_path(@download_folder.club, @download_folder) %>