%div#footer
	%div#address
		%h2 Skule.ca
		%p
			B740 Sandford Fleming Building <br />
			10 King's College Road <br />
			Toronto, Ontario, Canada M5S 3G4

	%div#sitemap
		%dl
			%dt About
			%dd= link_to "History", "#"
			%dd= link_to "FAQ", "#"
		%dl
			%dt Governance
			%dd= link_to "Officers", "#"
			%dd= link_to "Directors", "#"
			%dd= link_to "Club Chairs", "#"
		%dl		
			%dt Documents
			%dd= link_to "Bylaws", "#"
			%dd= link_to "Minutes", "#"
			%dd= link_to "Policies", "#"
			%dd= link_to "Misc", "#"
			
			
	%div#copyright
		Copyright © 1970-2009 
		= link_to "University of Toronto Engineering Society", "http://engsoc.skule.ca/"
		\. 
		All Rights Reserved
		| 
		= link_to "Terms of Use", "#"
		and 
		= link_to "Privacy Policy", "#"
		| 
		= link_to "Help", "#"
		and 
		= link_to "Feedback", "#" 
		| Updated Jan. 30, 2009

