- form_tag( 'search') do |f|
  %p
    = text_field_tag :search
    = submit_tag 'Search'

%h2 Search Results: "#{@query}"

.clubs_container
  -@tagList.each do |tag|
    -if !tag.blank?
      %h3 Results for related tag "#{tag.name}"
      %p
        %h4 Clubs Tagged with #{tag}: 
        -find_clubs_tagged_with(tag).each do |club|
          = render :partial => 'layouts/partials/club_box', :locals => {:club => club}
      %br{:clear=>:both}
      -if !@albums.blank? || !@myAlbums.blank?
        %br


%p
  -if !@albums.blank?
    %h4 Albums in =@club.name Tagged with Query:
    -@albums.each do |album|
      =link_to album.name, club_album_path(album.club, album)
      %br
    -if !@allAlbums.blank? 
      %br

%p
  -if !@myAlbums.blank?
    %h4 Albums in My Clubs Tagged with Query:
    -@myAlbums.each do |album|
      =link_to album.name, club_album_path(album.club, album)
      =link_to album.club.name, album.club
    %br