<h2>Search Results</h2>
<p>
  <% if !@clubs.blank? %>
    <h4>Clubs Tagged with Query: </h3>
    <% @clubs.each do |club| %>
      <%= link_to club.name, club %><br/>
    <% end %>
    <% if !@albums.blank? %><br/><% end %>
  <% end %>

  <% if !@albums.blank? %>
    <h4>Albums in <%= @club.name %> Tagged with Query: </h3>
	<% @albums.each do |album| %>
  	  <%= link_to album.name, club_album_path(album.club, album) %><br/>
  	<% end %>
    <% if !@allAlbums.blank? %><br/><% end %>
  <% end %>
  
  <% if !@myAlbums.blank? %>
    <h4>Albums in My Clubs Tagged with Query: </h3>
    <% @myAlbums.each do |album| %>
      <%= link_to album.name, club_album_path(album.club, album) %>
	  from <%= link_to album.club.name, album.club %>
	  <br/>
    <% end %>
  <% end %>
  
</p>