.feed_item[feed_item]
	- unless controller.controller_name == 'clubs'
		= render :partial => 'layouts/default/avatar', :locals => {:club => feed_item.club}
	-case feed_item.class.to_s
		-when "SmallPost" then
			.content= feed_item.content	
		-when "LargePost" then
			%h4= link_to feed_item.title, {:controller=> feed_item.class.to_s.tableize, :action => 'show', :id => feed_item.id, :club_id => feed_item.club.id}, :title => "Read Post"
			.content
				-if feed_item.content.length > 155
					= feed_item.content[0..155] + "..."
					= link_to 'Keep Reading &raquo;', {:controller=> feed_item.class.to_s.tableize, :action => 'show', :id => feed_item.id, :club_id => feed_item.club.id}, :title => "Keep Reading"
				-else
					= feed_item.content 
		-when "Event" then
			%h4= link_to feed_item.name, :controller=> feed_item.class.to_s.tableize, :action => 'show', :id => feed_item.id, :club_id => feed_item.club.id
			.locationtime
				%span.location= feed_item.location
				%span.time= short_time(feed_item.start)
			.content
				= feed_item.description
				= link_to 'Find Out More &raquo;', :controller=> feed_item.class.to_s.tableize, :action => 'show', :id => feed_item.id, :club_id => feed_item.club.id
		-else
			= feed_item.class	
	.source
		- unless controller.controller_name == 'clubs'
			=link_to(feed_item.club.name, {:controller=>'clubs', :action => 'show', :id => feed_item.club})+","
		= time_ago_in_words(feed_item.created_at)+' ago'

=# if feed_item.respond_to?("title")
	
	
