.feed_item[feed_item]
	- unless controller.controller_name == 'clubs'
		= render :partial => 'layouts/default/avatar', :locals => {:club => feed_item.club}
	-case feed_item.class.to_s
		-when "SmallPost" then
			.content= feed_item.content	
		-when "LargePost" then
			%h4= feed_item.title
			.content= feed_item.content
			= link_to 'link', :controller=> feed_item.class.to_s.tableize, :action => 'show', :id => feed_item.id, :club_id => feed_item.club.id
		-when "Event" then
			%h4= feed_item.name
			.location= feed_item.location
			.description= feed_item.description
			.time= short_time(feed_item.start)	
			= link_to 'link', :controller=> feed_item.class.to_s.tableize, :action => 'show', :id => feed_item.id, :club_id => feed_item.club.id
		-else
			= feed_item.class	
	.source
		- unless controller.controller_name == 'clubs'
			=link_to(feed_item.club.name, {:controller=>'clubs', :action => 'show', :id => feed_item.club})+","
		= time_ago_in_words(feed_item.created_at)+' ago'

=# if feed_item.respond_to?("title")
	
	
