.feed_item[feed_item]
	- unless controller.controller_name == 'clubs'
		= render :partial => 'layouts/default/avatar', :locals => {:club => feed_item.club}
	-case feed_item.class.to_s
		-when "SmallPost" then
			.content
				%i "
				%i= feed_item.content	
				%i "

		-when "LargePost" then
			%h3= feed_item.title
			.content
				%p= feed_item.content
		-when "Event" then
			%i Event:
			%strong= feed_item.name
			%br
			%br
			%div Starting:
			%div= feed_item.start.to_datetime.strftime("%a, %d %b %Y, %l:%M %P").squeeze(' ')
			%br
			%div Where:
			%div= feed_item.location
			%br
			.content= feed_item.description
			%em= feed_item.location
			=short_time(feed_item.start)	
		-else
			= feed_item.class	
	.source
		- unless controller.controller_name == 'clubs'
			=link_to(feed_item.club.name, {:controller=>'clubs', :action => 'show', :id => feed_item.club})+","
		= time_ago_in_words(feed_item.updated_at)+' ago'

=# if feed_item.respond_to?("title")
	
	
