#footer
	-#
		#address
			%h2 Skule.ca
			%p
				B740 Sandford Fleming Building <br />
				10 King's College Road <br />
				Toronto, Ontario, Canada M5S 3G4

		#sitemap
			%dl
				%dt About
				%dd= link_to "History", "#"
				%dd= link_to "FAQ", "#"
			%dl
				%dt Governance
				%dd= link_to "Officers", "#"
				%dd= link_to "Directors", "#"
				%dd= link_to "Club Chairs", "#"
			%dl		
				%dt Documents
				%dd= link_to "Bylaws", "#"
				%dd= link_to "Minutes", "#"
				%dd= link_to "Policies", "#"
				%dd= link_to "Misc", "#"
			
			
	#copyright
		Copyright © 1970-2009 
		- if @club
			= (link_to (@club.official_name || @club.name), :controller => "clubs", :action => 'show', :id => @club)+ "."
		- else
			= (link_to "University of Toronto Engineering Society", "http://engsoc.skule.ca/") + "." 
		All Rights Reserved
		-#		
			| 
			= link_to "Terms of Use", "#"
			and 
			= link_to "Privacy Policy", "#"
			| 
			= link_to "Help", "#"
			and 
			= link_to "Feedback", "#"
		- if @page
			| Updated
			=short_time(@page.updated_at)
		-else
			| Updated Aug. 7, 2009

