<h2>Add user to group</h2>
<% form_for( @user, :url => {:action=> 'create_membership', :club_id => @club}) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Add' %>
  </p>
<% end %>

<%= link_to 'Back', :action => 'admin' %>