<h2>Listing groups</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Parent</th>
    <th>Description</th>
		<th>Weight</th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%=h group.name %></td>
    <td><%=h (group.parent.blank?) ? "" : group.parent.name %></td>
    <td><%=h group.misc %></td>
		<td><%=h group.order %></td>

    <td><%= link_to 'Show', :action => 'admin', :club_id => @club, :id => group %></td>
    
    <% unless group.is_member_list? %>
    <td><%= link_to 'Edit', :action => 'edit', :id => group %></td>
    <td><%= link_to 'Destroy', club_group_path(@club, group) , :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
<h3>Tree Structure</h3>
<ul>
  <%=h @club.member_list.name -%>
	<ul>

  <% @curLevel = 1 -%>
  <% @grouplist.each do |group| -%>
	<% @level = group.level %>
    <% if(@level > @curLevel) -%>
      <ul><% @curLevel += 1  -%>
      <li><%=h group.name -%></li>
    <% elsif @level == @curLevel  -%>
      <li><%=h group.name -%></li>
    <% else -%>
      <% while(@level < @curLevel) -%>
        <% @curLevel -= 1 -%>
        </ul>
      <% end -%>
      <li><%=h group.name -%></li>
    <% end  -%>
  <% end -%>
  <% while(1< @curLevel) -%>
    <% @curLevel -= 1 -%>
    </ul>
  <% end  -%>
	</ul>
</ul>
<br />

<%= link_to 'New group', :action => 'new' %> |
<%= link_to 'Back', club_admin_index_path(@club) %>