<h2>Listing groups</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Parent</th>
    <th>Misc</th>
    <th>Lft</th>
    <th>Rgt</th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%=h group.name %></td>
    <td><%=h (group.parent.blank?) ? "" : group.parent.name %></td>
    <td><%=h group.misc %></td>
    <td><%=h group.lft %></td>
    <td><%=h group.rgt %></td>

    <td><%= link_to 'Show', :action => 'admin', :club_id => @club, :id => group %></td>
    
    <% unless group.is_member_list? %>
    <td><%= link_to 'Edit', :action => 'edit', :id => group%></td>
    <td><%= link_to 'Destroy', club_group_path(@club, group) , :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
<h3>Tree Structure</h3>
<ul>
  <% @roots.each do |group| -%>
    <%=h group.name -%>
    <ul>
    <% @curLevel = 1 -%>
    <% group.all_children.each do |groupy| -%>
      <% if(groupy.level > @curLevel) -%>
        <ul><% @curLevel += 1  -%>
        <li><%=h groupy.name -%></li>
      <% elsif groupy.level == @curLevel  -%>
        <li><%=h groupy.name -%></li>
      <% else  %>
        <% while(groupy.level< @curLevel) -%>
          <% @curLevel -= 1 -%>
          </ul>
        <% end  -%>
        <li><%=h groupy.name -%></li>
      <% end  -%>
    <% end -%>
    </ul>
  <% end -%>
</ul>
<br />

<%= link_to 'New group', :action => 'new' %> |
<%= link_to 'Add Members', :action => 'add_member' %> |
<%= link_to 'Back', club_admin_index_path(@club) %>