<h2>Listing groups</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Parent</th>
    <th>Description</th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%=h group.name %></td>
    <td><%=h (group.parent.blank?) ? "" : group.parent.name %></td>
    <td><%=h group.misc %></td>
    <td><%= link_to 'Show', :action => 'show', :id => group %></td>
  </tr>
<% end %>
</table>
<h3>Tree Structure</h3>
<ul>
  <%=h @club.member_list.name -%>
	<ul>

  <% @curLevel = 1 -%>
  <% @grouplist.each do |group| -%>
	<% @level = group.level %>
    <% if(@level > @curLevel) -%>
      <ul><% @curLevel += 1  -%>
      <li><%=h group.name -%></li>
    <% elsif @level == @curLevel  -%>
      <li><%=h group.name -%></li>
    <% else -%>
      <% while(@level < @curLevel) -%>
        <% @curLevel -= 1 -%>
        </ul>
      <% end -%>
      <li><%=h group.name -%></li>
    <% end  -%>
  <% end -%>
  <% while(1< @curLevel) -%>
    <% @curLevel -= 1 -%>
    </ul>
  <% end  -%>
	</ul>
</ul>
<br />

<%= link_to 'Back', club_path(@club)%>