<h2>Listing groups</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Parent</th>
    <th>Misc</th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%=h group.name %></td>
    <td><%=h (group.parent.blank?) ? "" : group.parent.name %></td>
    <td><%=h group.misc %></td>
    <td><%= link_to 'Show', :action => 'show', :id => group %></td>
  </tr>
<% end %>
</table>
<h3>Tree Structure</h3>
<ul>
  <% @roots.each do |group| -%>
    <%=h group.name -%>
    <ul>
    <% @curLevel = 1 -%>
    <% group.all_children.each do |groupy| -%>
      <% if(groupy.level > @curLevel) -%>
        <ul><% @curLevel += 1  -%>
        <li><%=h groupy.name -%></li>
      <% elsif groupy.level == @curLevel  -%>
        <li><%=h groupy.name -%></li>
      <% else  %>
        <% while(groupy.level< @curLevel) -%>
          <% @curLevel -= 1 -%>
          </ul>
        <% end  -%>
        <li><%=h groupy.name -%></li>
      <% end  -%>
    <% end -%>
    </ul>
  <% end -%>
</ul>
<br />

<%= link_to 'Back', club_path(@club)%>