<p>
  <b>Club:</b>
  <%=h @group.club_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @group.name %>
</p>

<p>
  <b>Misc:</b>
  <%=h @group.misc %>
</p>

<p>
  <b>Lft:</b>
  <%=h @group.lft %>
</p>

<p>
  <b>Rgt:</b>
  <%=h @group.rgt %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>