<div id = "admin_download_folders">
  <h2>Listing Downloads Folders</h2>
  <br />
  <% @download_folders.each do |folder| %>
    <div id = "<%="folder"+folder.id.to_s%>" >
      <div id = "<%="folderHeader"+folder.id.to_s%>" >
        <b> Folder: <%=h folder.name %>, Icon: <%=h folder.icon %></b>
        <%= link_to_remote 'Edit', :url => {:action => 'edit_folder', :folder=> folder.id}%>
        <%= link_to_remote 'Remove', :url => {:action => 'destroy_folder', :folder=> folder.id}, :confirm => "Are you sure you want to remove this folder?" %>
      </div>
      <div id = "<%= "folderContent"+folder.id.to_s %>" >
        <%= link_to_remote 'Show', :url =>{ :action => 'show_files', :folder => folder.id}  %>         
      </div>
      <br />
    </div>
  <% end %> 
</div>
<br />
<div id = "new_folder" >
  <%= link_to_remote 'New Folder', :url =>{ :action => 'new_folder'}  %>
</div>