<h1>Editing groups</h1>

<% form_for(@groups) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :club_id %><br />
    <%= f.text_field :club_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :misc %><br />
    <%= f.text_area :misc %>
  </p>
  <p>
    <%= f.label :lft %><br />
    <%= f.text_field :lft %>
  </p>
  <p>
    <%= f.label :rgt %><br />
    <%= f.text_field :rgt %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @groups %> |
<%= link_to 'Back', groups_path %>