<h1>Listing groups</h1>

<table>
  <tr>
    <th>Club</th>
    <th>Name</th>
    <th>Misc</th>
    <th>Lft</th>
    <th>Rgt</th>
  </tr>

<% @groups.each do |groups| %>
  <tr>
    <td><%=h groups.club_id %></td>
    <td><%=h groups.name %></td>
    <td><%=h groups.misc %></td>
    <td><%=h groups.lft %></td>
    <td><%=h groups.rgt %></td>
    <td><%= link_to 'Show', groups %></td>
    <td><%= link_to 'Edit', edit_groups_path(groups) %></td>
    <td><%= link_to 'Destroy', groups, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New groups', new_groups_path %>