<p>
  <b>Club:</b>
  <%=h @groups.club_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @groups.name %>
</p>

<p>
  <b>Misc:</b>
  <%=h @groups.misc %>
</p>

<p>
  <b>Lft:</b>
  <%=h @groups.lft %>
</p>

<p>
  <b>Rgt:</b>
  <%=h @groups.rgt %>
</p>


<%= link_to 'Edit', edit_groups_path(@groups) %> |
<%= link_to 'Back', groups_path %>