<p>
  <b>Event Name:</b>
  <%=h @event.name %>
</p>

<p>
  <b>User:</b>
  <%=h @event.user.name %>
</p>

<p>
  <b>Start:</b>
  <%=h format_time(@event.start) %>
</p>

<p>
  <b>End:</b>
  <%=h format_time(@event.finish) %>
</p>

<p>
  <b>Location:</b>
  <%=h @event.location %>
</p>

<p>
  <b>Description:</b>
  <%=h @event.description %>
</p>

<p>
  <b>Link:</b>
  <%=h @event.link %>
</p>

<p>
	<% if @event.created_at != @event.updated_at%>
	Last updated:
	<%=h @event.updated_at %>
	<%end%>
</p>

<%= link_to 'ICal Me', :action => 'export_events', :club_id => @club, :id => @event %> |
<%= link_to 'Edit', :action => 'edit', :id => @event %> |
<%= link_to 'Back', :action => 'admin' %>