<h2>Editing event</h2>

<% form_for([:club, @event], :url => {:action=> 'update'}) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %>
    <span>The name of your club's event. Max 40 characters.</span>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :start, "Start Time" %>
    <span>The starting time of the event.</span>
    <%= f.datetime_select :start %>
  </p>
  <p>
    <%= f.label :finish, "End Time" %>
    <span>The finishing time of the event.</span>
    <%= f.datetime_select :finish %>
  </p>
  <p>
    <%= f.label :location %>
    <span>The location of the event. Max 50 characters.</span>
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :description %>
    <span>A description of your event. Max 200 characters.</span>
    <%= f.text_area :description, :cols => 20, :rows => 6 %>
  </p>
  <p>
    <%= f.label :link %>
    <span>Optional: A link to your event page/site. Max 200 characters.</span>
    <%= f.text_field :link %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', :action => 'admin', :club_id => @club, :id => @event %> |
<%= link_to 'Back', :action => 'admin'  %>