<h2>Listing events</h2>

<table>
  <tr>
    <th>User</th>
    <th>Event Name</th>
    <th>Start</th>
    <th>End</th>
    <th>Location</th>
    <th>Description</th>
    <th>Link</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%=h event.user.name%></td>
    <td><%=h event.name%></td>
    <td><%=h format_time(event.start) %></td>
    <td><%=h format_time(event.finish) %></td>
    <td><%=h event.location %></td>
    <td><%=h event.description %></td>
    <td><%=h event.link %></td>
    <td><%= link_to 'Show', :action => 'show', :id => event %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'ICal Me', :action => 'export_events', :club_id => @club %>