<h2><%=h @event.name %></h2>
<p>
  <b>Start:</b>
  <%=h format_time(@event.start) %>
</p>

<p>
  <b>End:</b>
  <%=h format_time(@event.finish) %>
</p>

<p>
  <b>Location:</b>
  <%=h @event.location %>
</p>

<p>
  <b>Description:</b>
  <%=h @event.description %>
</p>

<% if !@event.link.blank? %>
<p>
  <b>Link:</b>
  <%= link_to @event.url, @event.url %>
</p>
<% end %>

<%= link_to 'ICal Format', :action => 'export_events', :club_id => @club, :id => @event %> |
<%= link_to 'Back', :action => 'index' %>