<h2>Listing pages</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Weight</th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.indented_title %></td>
    <td><%= page.content[0..20] %></td>
		<td><%= page.order %></td>
    <td><%= link_to 'Show', admin_club_page_path(@club, page) %></td>
    <td><%= link_to 'Edit', edit_club_page_path(@club, page) %></td>
    <td><%= link_to 'Destroy', club_page_path(@club, page), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_club_page_path(@club) %>
