<%= include_tiny_mce_if_needed %>
<h2>Editing pages</h2>

<% form_for([:club, @page], :url => {:action=> 'update'}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :class => "mceEditor" %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', :action => 'admin', :club_id => @club, :id => @page %> |
<%= link_to 'Back', :action => 'admin' %>
