<%= include_tiny_mce_if_needed %>
<h2>Editing pages</h2>

<% form_for([:club, @page], :url => {:action=> 'update'}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :class => "mceEditor" %>
  </p>
	<p>
    <%= f.label :parent_id, "Choose a page to fall under or leave blank to be a main page." %><br />
    <%= (f.collection_select :parent_id, @pagelist, :id, :indented_title, { :prompt => 'Select a Page', :include_blank => '--None--'}).gsub("&amp;", "&") %>
  </p>
	<p>
    <%= f.label :order, "Weighting" %>
		<span>This will affect the order in which pages are displayed</span>
    <%= f.text_field :order %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', :action => 'admin', :club_id => @club, :id => @page %> |
<%= link_to 'Back', :action => 'admin' %>
