<%= include_tiny_mce_if_needed %>
<h2>New page</h2>

<% form_for(@page, :url=>{:action=>"create"}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %>
		<span>The title of the Page.</span>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :class => "mceEditor"  %>
  </p>
	<p>
    <%= f.label :parent_id, "Hierarchy" %>
		<span>Choose an existing page to fall under or leave blank to be a main page.</span>
    <%= (f.collection_select :parent_id, @pagelist, :id, :indented_title, { :prompt => 'Select a Page', :include_blank => '--None--'}).gsub("&amp;", "&") %>
  </p>
	<p>
    <%= f.label :order, "Weighting" %>
		<span>This will affect the order in which pages are displayed. Lower values are displayed first.</span>
    <%= f.text_field :order, :value => "1" %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Cancel', :action => 'admin' %>
