<h2>Editing album</h2>

<% form_for(@album, :url=>{:action=>"update"}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </p>
  <p>
    <%= f.label :tags %><br />
    <%= f.text_field :tag_list -%>
  </p>
  <p>
    <%= f.label :user_id %><br />
  	<%= f.collection_select :user_id, User.find(:all), :id, :name, { :prompt => 'Select a User' } %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', admin_club_album_path (@album.club, @album) %> |
<%= link_to 'Back', admin_club_gallery_path (@album.club) %>