<h2>Gallery</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th>Tags</th>
    <th>Locked</th>
    <th>User</th>
  </tr>

<% @albums.each do |album| %>
  <tr>
    <td><%=h album.name %></td>
    <td><%=h album.desc %></td>
    <td><%=h album.tags %></td>
    <td><%=h album.locked %></td>
    <td><%=h album.user.name %></td>
    <td><%= link_to 'Show', club_album_path(album.club, album) %></td>
    <td><%= link_to 'Edit', edit_club_album_path(album.club, album) %></td>
    <td><%= link_to 'Destroy', club_album_path(@club, album), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New album', new_club_album_path(@club) %> |
<%= link_to 'Back', club_path(@club) %>