<p>
  <b>Name:</b>
  <%=h @album.name %>
</p>

<p>
  <b>Desc:</b>
  <%=h @album.desc %>
</p>

<p>
  <b>Tags:</b>
  <%=h @album.tags %>
</p>

<p>
  <b>Locked:</b>
  <%=h @album.locked %>
</p>

<p>
  <b>Created by:</b>
  <%=h @album.user.name %>
</p>

<h2>Images in this Album</h2>
<% @album.images.each do |image| %>
  <p>
    <h3><%= image.name %></h3>
	<%= image_tag  "/" + image.album.club.name+"/"+image.album.name+"/"+image.url, :size => "100x100", :alt => image.desc %>
  </p>
  <hr>
<% end %>
<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>