<p>
  <b>Club:</b>
  <%=h @event.club_id %>
</p>

<p>
  <b>User:</b>
  <%=h @event.user_id %>
</p>

<p>
  <b>Start:</b>
  <%=h @event.start %>
</p>

<p>
  <b>End:</b>
  <%=h @event.end %>
</p>

<p>
  <b>Location:</b>
  <%=h @event.location %>
</p>

<p>
  <b>Description:</b>
  <%=h @event.description %>
</p>

<p>
  <b>Link:</b>
  <%=h @event.link %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>