<h2>Listing updates</h2>

<table>
  <tr>
    <th>Club</th>
    <th>User</th>
    <th>Content</th>
  </tr>

<% @updates.each do |update| %>
  <tr>
    <td><%=h update.club_id %></td>
    <td><%=h update.user_id %></td>
    <td><%=h update.content %></td>
    <td><%= link_to 'Show', update %></td>
    <td><%= link_to 'Edit', edit_update_path(update) %></td>
    <td><%= link_to 'Destroy', update, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New update', new_update_path %>