<p>
  <b>Club:</b>
  <%=h @update.club_id %>
</p>

<p>
  <b>User:</b>
  <%=h @update.user_id %>
</p>

<p>
  <b>Content:</b>
  <%=h @update.content %>
</p>


<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', updates_path %>