<p>
  <b>Title:</b>
  <%=h @large_post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @large_post.content %>
</p>

<%= @large_post.club_id%>

<%= link_to 'Edit', :action => 'edit', :id => @large_post %> |
<%= link_to 'Back', :action => 'admin' %>