<p>
  <b>Title:</b>
  <%=h @large_post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @large_post.content %>
</p>

<p>
	<% if @large_post.created_at != @large_post.updated_at%>
	Last updated:
	<%=h @large_post.updated_at %>
	<%end%>
</p>

<%= link_to 'Edit', :action => 'edit', :id => @large_post %> |
<%= link_to 'Back', :action => 'admin' %>