#left
	-if @controller.controller_name == "clubs" && @controller.action_name == "show"
		-#
			%ul.filter
				%li= "All"
				%li= link_to "Updates", '#'
				%li= link_to "Posts", '#'
				%li= link_to "Events", '#'
				%li= link_to "Photos", '#'
	-else
		-if @club.main_pages
			%dl.filter
				-@club.main_pages.each do |page|
					%dt= link_to_unless_current page.title, :controller=> 'pages', :action=> 'show', :id => page
					-page.children.each do |child|
						%dd= link_to_unless_current child.title, :controller=> 'pages', :action=> 'show', :id => child

		%ul.filter
			%li= link_to "Photos", "#"
			%li= link_to "Members", "#"
