%div#sidebar
	%div#widget
		%p= @club.description
		
	-#
		%div#widget
			%h4 Pages
			%ul
				-@club.pages.each do |page|
					%li= link_to page.title, :show => page
	%div#widget
		%h4 Club Members
		%ul
			- if @club.groups.count > 0
				- @club.members.each do |member|
					=h member.name
	%div#widget
		%h4 Upcoming Events
		%ul
			-@club.upcoming_events.each do |event|
				%li
					=short_time(event.start)
					%br/
					= event.name
					%em= event.location
	%div#widget
		%h4 Dev Links
		%ul
			%li= link_to 'Admin Link', club_admin_index_path(@club)
			%li= link_to 'Downloads', club_files_path(@club)
			%li= link_to 'Gallery', club_gallery_path(@club)
			%li= link_to 'Groups', club_groups_path(@club)
			%li= link_to 'Pages', club_pages_path(@club)
			%li= link_to 'Edit', edit_club_path(@club)
			%li= link_to 'Back', clubs_path
