<h2>Editing Download Folder</h2>

<% form_for([:club, @download_folder], :url => {:action=> 'update'}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :icon %><br />
    <%= f.text_field :icon %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', :action => 'admin', :club_id => @club, :id => @download_folder  %> |
<%= link_to 'Back', :action => 'admin' %>