<h1>Listing Downloads Folders</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Club</th>
    <th>Icon</th>
  </tr>

<% @download_folders.each do |folder| %>
  <tr>
    <td><%=h folder.name %></td>
    <td><%=h folder.club.name %></td>
    <td><%=h folder.icon %></td>
    <td><%= link_to 'Show', :action => 'show', :id => folder.id %></td>    
    <td><%= link_to 'Edit', edit_club_file_path(@club,folder) %></td>
    <td><%= link_to 'Destroy', club_file_path(@club,folder), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Folder', new_club_file_path(@club) %>