<h2>New Download Folder</h2>

<% form_for([:club, @download_folder], :url => {:action=> 'create'}) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :icon %><br />
    <%= f.text_field :icon %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', :action => 'admin' %>