<p>
  <b>Name:</b>
  <%=h @download_folder.name %>
</p>

<p>
  <b>Club:</b>
  <%=h @download_folder.club.name %>
</p>

<p>
  <b>Icon:</b>
  <%=h @download_folder.icon %>
</p>


<%= link_to 'Edit', edit_download_folder_path(@download_folder) %> |
<%= link_to 'Back', download_folders_path %>