<p>
  <b>Name:</b>
  <%=h @download_folder.name %>
</p>

<p>
  <b>Icon:</b>
  <%=h @download_folder.icon %>
</p>

<h2>Listing Downloads</h2>

<table>
  <tr>
    <th>File Name</th>
    <th>Desc</th>
    <th>Url</th>
    <th>Tags</th>
  </tr>

<% @download_folder.downloads.each do |download| %>
  <tr>
    <td><%=h download.name %></td>
    <td><%=h download.desc %></td>
    <td><%=h download.url %></td>
    <td><%=h download.tags %></td>
    <td><%= link_to 'Download', "/data/"+download.url %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', club_files_path %>