.feed_item[feed_item]
	- short_length = (controller_name == "clubs" ? 160 : 144)
	-case feed_item.class.to_s
		-when "SmallPost" then
			- unless controller.controller_name == 'clubs'
				= render :partial => 'layouts/partials/avatar', :locals => {:club => feed_item.club}
			.content= feed_item.content	
		-when "LargePost" then
			%h4= link_to feed_item.title, {:controller=> feed_item.class.to_s.tableize, :action => 'show', :id => feed_item.id, :club_id => feed_item.club}, :title => "Read Post"
			- unless controller.controller_name == 'clubs'
				= render :partial => 'layouts/partials/avatar', :locals => {:club => feed_item.club}
			.content
				=summarize(feed_item.content, short_length, "Keep Reading &raquo;", {:controller=> feed_item.class.to_s.tableize, :action => 'show', :id => feed_item.id, :club_id => feed_item.club}, {:class=>"more"})
				
		-when "Event" then
			= render :partial => 'layouts/partials/date_ticker', :locals => {:date => feed_item.start}
			%h4= link_to abbrev(feed_item.name, 28), :controller=> feed_item.class.to_s.tableize, :action => 'show', :id => feed_item.id, :club_id => feed_item.club
										
			.locationtime
				%span.time= feed_item.start.strftime('%A @ %I:%M%p')
				|
				%span.location= abbrev(feed_item.location, 12)
				
			.content
				= summarize(feed_item.description, 144, 'Find Out More &raquo;', {:controller=> feed_item.class.to_s.tableize, :action => 'show', :id => feed_item.id, :club_id => feed_item.club}, {:class=>"more"})
		-else
			= feed_item.class	
	.source
		- unless controller.controller_name == 'clubs'
			=link_to(feed_item.club.name, (feed_item.club.website ? feed_item.club.website : {:controller=>'clubs', :action => 'show', :id => feed_item.club}))+","
		= time_ago_in_words(feed_item.created_at)+' ago'

=# if feed_item.respond_to?("title")
	
	
