<h2>Image Upload</h2>
<p>
  <h3>Album - 
  <%= @album.name %>
  </h3>
</p>
<% form_for(@image, :url => {:action => 'create'}, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </p>
  <p>
    <%= f.label :tags %><br />
	<%= f.text_field :tag_list -%>
  </p>
  <p>
    <%= f.label :url, "Select Image" %><br />
  	<%= f.file_field :url %>
  </p>
  <p>
    <%= f.label :user_id, "User" %><br />
    <%= f.collection_select :user_id, @user, :id, :name, { :prompt => 'Select User'} %>
  </p>
  <p>
    <%= f.submit 'Create'%>
  </p>
<% end %>


<%= link_to 'Back', club_album_path(@album.club, @album) %>