<h1>Image Upload</h1>
<p>
  <h3>Album - 
  <%= @album.name %>
  </h3>
</p>

<%= form_tag ({:action => 'create'}, :multipart => true) %>
<p>	<label for="upload_file">Select Image</label> : 
	<%= file_field 'upload', 'download' %>
</p>
<p>
	<%= hidden_field 'image', :album_id, :value => @album.id  %>
</p>

<p>
  <%= label 'image', 'name' %><br />
  <%= text_field 'image', 'name' %>
</p>
<p>
  <%= label 'image', 'desc' %><br />
  <%= text_field 'image', 'desc' %>
</p>
<p>
  <%= label 'image', 'tags' %><br />
  <%= text_field 'image', 'tags' %>
</p>
<p>
  <%= label 'image', 'user_id' %><br />
  <%= collection_select ('image', 'user_id', @user, :id, :name, { :prompt => 'Select User'}) %>
</p>
<p>
  <%= submit_tag 'Upload' %>
</p>

<%= link_to 'Back', album_path(@album) %>