<p>
  <b>Name:</b>
  <%=h @image.name %>
</p>

<p>
  <b>Tags:</b><br/>
  <% @image.tags.each do |tag| -%>
    <%= link_to_tag(tag) %>
  <% end -%>
</p>

<p>
  <b>+ Album Tags: </b><br/>
  <% @album.tags.each do |tag| -%>
    <%= link_to_tag(tag) %>
  <% end -%>
</p>

<p>
  <%= link_to 'download', "/club_data/"+@image.album.club.id.to_s+"/"+@image.album.id.to_s+"/"+@image.url %>
</p>

<p>
  <b>Desc:</b>
  <%=h @image.desc %>
</p>

<p>
  <b>Album:</b>
  <%=h @image.album.name %>
</p>

<p>
  <b>User:</b>
  <%=h @image.user.name %>
</p>


<%= link_to 'Edit', edit_club_album_image_path(@image.album.club, @image.album, @image) %> |
<%= link_to 'Back', club_album_path(@image.album.club, @image.album) %>