<ul id="menu">
	<li><%= link_to_unless_current "Home", :controller => 'hub_pages', :action=>'index' %></li>
	<li><%= link_to_unless_current "About", :controller => 'hub_pages', :action=>'about' %></li>
	<li><%= link_to_unless_current "The Digest", :controller => 'hub_pages', :action=>'digest' %></li>
	<li><%= link_to_unless_current "Calendar", :controller => 'hub_pages', :action=>'calendar' %></li>
	<li><%= link_to_unless_current "Clubs", :controller => 'hub_pages', :action=>'clubs' %></li>
	<li><%= link_to_unless_current "Map", :controller => 'hub_pages', :action=>'map' %></li>
	<li><%= link_to_unless_current "Services", :controller => 'hub_pages', :action=>'services' %></li>
</ul>
